.root-layout {
    min-height: 100vh;
    width:100%;
    display: grid;
    margin: 0 100px 0 100px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background: #333;
    color:aliceblue;
    padding: 8px;
    min-height: 150px;
}


