@import "tailwindcss";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@theme {
	--font-size-16px:16px;
	/* ... */
  }

@media (max-width: 768px) {
	html {
		font-size: 14px;
		/* 태블릿 */
	}
}

@media (max-width: 480px) {
	html {
		font-size: 12px;
		/* 모바일 */
	}
}

